node_modules/
www/.DS_Store
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/keystore.properties
android/*.jks
android/.idea/
*.log
release/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/.kotlin/
